<div>
  <button mat-button>push me daddy!</button>
  <button mat-raised-button>push me daddy!</button>
  <button mat-flat-button>push me daddy!</button>
  <button mat-stroked-button>push me daddy!</button>
</div>
<div>
  <button mat-icon-button>icon</button>
  <button mat-fab>fab</button>
  <button mat-mini-fab>mini fab</button>
</div>
<div>
  <button color="primary" mat-button>Primary</button>
  <button color="accent" mat-button>accent</button>
  <button color="warn" mat-button>warn</button>
  <button color="primary" mat-raised-button>Primary</button>
  <button color="accent" mat-raised-button>accent</button>
  <button color="warn" mat-raised-button>warn</button>
  <button color="primary" disableRipple mat-button>Disabled Primary</button>
  <button color="accent" disableRipple mat-button>Disabled accent</button>
  <button color="warn" disableRipple mat-button>Disabled warn</button>
</div>
<router-outlet></router-outlet>
