<mat-sidenav-container>
    <mat-sidenav (opened)="log('opened')" (closed)="log('closed')" #sidenav mode="over"><button class="mat-icon-button"
            (click)="sidenav.close()" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>Exit
        <mat-nav-list>
            <a href="#" mat-list-item>Home</a>
            <a href="#" mat-list-item>About</a>
            <a href="#" mat-list-item>Contact Us</a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- <mat-sidenav [(opened)]="opened" mode="push">Sidenav</mat-sidenav> -->
    <!-- <mat-sidenav [(opened)]="opened" mode="side">Sidenav</mat-sidenav> -->
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="navbar">
            <span class="compo">
                <span><button class="mat-icon-button" (click)="sidenav.open()" mat-icon-button>
                        <mat-icon>menu</mat-icon>
                    </button></span>
                <span>Manan Domadiya</span></span>

            <span class="compo">
                <span float="right">Home</span>
                <span float="right">Services</span>
                <span float="right">About</span>
                <button mat-icon-button [mat-menu-trigger-for]="appMenu">
                    <mat-icon>more_vert</mat-icon>
                </button></span>
            <mat-menu #appMenu="matMenu">
                <button mat-menu-item [mat-menu-trigger-for]="frontMenu">
                    Front End
                </button>
                <mat-menu #frontMenu="matMenu" xPosition="before">
                    <button mat-menu-item>React</button>
                    <button mat-menu-item>Angular</button>
                    <button mat-menu-item>Vue</button>
                </mat-menu>
                <button mat-menu-item [mat-menu-trigger-for]="backMenu">
                    Back End
                </button>
                <mat-menu #backMenu="matMenu" yPosition="below">
                    <button mat-menu-item>React</button>
                    <button mat-menu-item>Angular</button>
                    <button mat-menu-item>Vue</button>
                </mat-menu>
            </mat-menu>
        </mat-toolbar>
        <mat-tab-group #tabRef (selectedTabChange)="logChangeTab(tabRef.selectedIndex!)" dynamicHeight>
            <mat-tab label="Radio">
                <mat-radio-group>
                    <mat-radio-button color="primary" value="Angular">Angular</mat-radio-button><br>
                    <mat-radio-button color="warn" value="React">React</mat-radio-button><br>
                    <mat-radio-button color="accent" value="Vue">Vue</mat-radio-button><br>
                </mat-radio-group>
            </mat-tab>
            <mat-tab label="CheckBox">
                <mat-checkbox color="primary">Subscribe</mat-checkbox><br>
                <mat-checkbox color="warn">Subscribe</mat-checkbox><br>
                <mat-checkbox labelPosition="before">Subscribe</mat-checkbox>
            </mat-tab><br>
            <mat-tab label="Select">
                <form>
                    <mat-form-field>
                        <mat-label>Autocomplete Array</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
                        </mat-autocomplete>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Autocomplete Map</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto2map">
                        <mat-autocomplete #auto2map="matAutocomplete">
                            <mat-option *ngFor="let option of objectOptions" [value]="option">{{option.name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field><br>
                    <mat-form-field>
                        <mat-label>Autocomplete Map</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto3map" [formControl]="myControl">
                        <mat-autocomplete #auto3map="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </mat-tab>
            <mat-tab label="Select">
                <mat-form-field>
                    <mat-label>Select</mat-label>
                    <mat-select [(value)]="selectedValue" #selectMenu required>
                        <mat-option>none</mat-option>
                        <mat-option value="Vue">Vue</mat-option>
                        <mat-option value="React">React</mat-option>
                        <mat-option value="Angular">Angular</mat-option>
                    </mat-select>
                </mat-form-field>
                {{selectedValue}}
                {{selectMenu.value}}
                <mat-form-field>
                    <mat-label>Select Opt Group</mat-label>
                    <mat-select #selectMenu2 required>
                        <mat-option>none</mat-option>
                        <mat-optgroup label="Web">
                            <mat-option value="Vue">Vue</mat-option>
                            <mat-option value="React">React</mat-option>
                            <mat-option value="Angular">Angular</mat-option>
                        </mat-optgroup>
                        <mat-optgroup label="Mobile">
                            <mat-option value="ionic">Ionic</mat-option>
                            <mat-option value="flutter">Flutter</mat-option>
                            <mat-option value="reactnative">React Native</mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
                {{selectMenu2.value}}
                <mat-form-field>
                    <mat-label>Opt Group + Multiple</mat-label>
                    <mat-select #selectMenu3 required multiple>
                        <mat-option>none</mat-option>
                        <mat-optgroup label="Web">
                            <mat-option value="Vue">Vue</mat-option>
                            <mat-option value="React">React</mat-option>
                            <mat-option value="Angular">Angular</mat-option>
                        </mat-optgroup>
                        <mat-optgroup label="Mobile">
                            <mat-option value="ionic">Ionic</mat-option>
                            <mat-option value="flutter">Flutter</mat-option>
                            <mat-option value="reactnative">React Native</mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>
                {{selectMenu3.value}}
            </mat-tab>
            <mat-tab label="Input & Form Field">
                <mat-form-field floatLabel="auto">
                    <mat-label>floatLabel auto / Default</mat-label><input matInput>
                </mat-form-field><br>
                <mat-form-field floatLabel="never">
                    <mat-label>floatLabel never</mat-label><input matInput>
                </mat-form-field><br>
                <mat-form-field floatLabel="always">
                    <mat-label>floatLabel always</mat-label><input matInput>
                </mat-form-field><br>
                <mat-form-field>
                    <mat-label>required field</mat-label><input matInput required>
                    <mat-hint align="end">min 5 characters</mat-hint>
                </mat-form-field><br>
                <mat-form-field hideRequiredMarker>
                    <mat-label>required field hideRequiredMarker</mat-label><input matInput required>
                    <mat-hint align="end">min 5 characters</mat-hint>
                </mat-form-field><br>
                <mat-form-field appearance="legacy">
                    <mat-label>appearance="legacy"</mat-label><input matInput required>
                    <mat-hint align="end">min 5 characters</mat-hint>
                </mat-form-field><br>
                <mat-form-field appearance="outline">
                    <mat-label>appearance="outline"</mat-label><input matInput required>
                    <mat-hint align="end">min 5 characters</mat-hint>
                </mat-form-field><br>
                <mat-form-field appearance="standard" hideRequiredMarker>
                    <mat-label>appearance="standard"</mat-label><input matInput required>
                    <mat-hint align="end">min 5 characters</mat-hint>
                </mat-form-field><br>
                <mat-form-field appearance="fill">
                    <mat-label>appearance="fill"</mat-label><input matInput required>
                    <mat-hint align="end">min 5 characters</mat-hint>
                </mat-form-field><br>
            </mat-tab>
            <mat-tab label="Home">Home</mat-tab>
            <mat-tab label="Steppers">
                <mat-tab-group #tabRef (selectedTabChange)="logChangeTab(tabRef.selectedIndex!)">
                    <mat-tab label="Non Linear">
                        <h3>Non Linear Steppers</h3>
                        <mat-horizontal-stepper>
                            <mat-step label="Shipping Address Details">Shipping Address Details<div>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                            <mat-step label="Billing Address Details">Billing Address Details
                                <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                            <mat-step label="Place Order">Place Order<div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                        <mat-vertical-stepper>
                            <mat-step label="Shipping Address Details">Shipping Address Details<div>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                            <mat-step label="Billing Address Details">Billing Address Details<div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                            <mat-step label="Place Order">Place Order<div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                        </mat-vertical-stepper>
                    </mat-tab>
                    <mat-tab label="Linear">
                        <h3>Linear Steppers</h3>
                        <mat-horizontal-stepper linear>
                            <mat-step label="Shipping Address Details" completed="true">Shipping Address Details<div>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                            <mat-step label="Billing Address Details" completed="false" optional>Billing Address Details
                                <div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                            <mat-step label="Place Order" completed="false">Place Order<div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                        <mat-vertical-stepper linear>
                            <mat-step label="Shipping Address Details" completed="true">Shipping Address Details<div>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                            <mat-step label="Billing Address Details" completed="false">Billing Address Details<div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                            <mat-step label="Place Order" completed="false">Place Order<div>
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-button matStepperNext>Next</button>
                                </div>
                            </mat-step>
                        </mat-vertical-stepper>
                    </mat-tab>
                </mat-tab-group>
            </mat-tab>
            <mat-tab label="Card"><br>
                <mat-card>Mat Basic Card</mat-card>
                <br>
                <mat-card>
                    <mat-card-title>Card Title</mat-card-title>
                    <mat-card-content>This is the card content</mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Login</button>
                        <button mat-flat-button>Login</button>
                        <button mat-raised-button>Login</button>
                        <button mat-stroked-button>Login</button>
                        <button>Login</button>
                    </mat-card-actions>
                </mat-card>
                <br>
            </mat-tab>
            <mat-tab label="Expansion Panel">
                <mat-tab-group>
                    <mat-tab label="Simple">
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Angular Fundamentals</mat-panel-title>
                                <mat-panel-description>Total Duration : 3 hours</mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>This is the panel content add course Details </p>
                            <mat-action-row>
                                <button mat-button>Enroll</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Angular Material</mat-panel-title>
                                <mat-panel-description>Total Duration : 2 hours</mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>This is the panel content add course Details </p>
                            <mat-action-row>
                                <button mat-button>Enroll</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>React</mat-panel-title>
                                <mat-panel-description>Total Duration : 5 hours</mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>This is the panel content add course Details </p>
                            <mat-action-row>
                                <button mat-button>Enroll</button>
                            </mat-action-row>
                        </mat-expansion-panel>
                    </mat-tab>
                    <mat-tab label="Accordion Multi + HideToggle">
                        <mat-accordion multi="true" hideToggle>
                            <!-- <mat-accordion> -->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Angular Fundamentals</mat-panel-title>
                                    <mat-panel-description>Total Duration : 3 hours</mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the panel content add course Details </p>
                                <mat-action-row>
                                    <button mat-button>Enroll</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Angular Material</mat-panel-title>
                                    <mat-panel-description>Total Duration : 2 hours</mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the panel content add course Details </p>
                                <mat-action-row>
                                    <button mat-button>Enroll</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>React</mat-panel-title>
                                    <mat-panel-description>Total Duration : 5 hours</mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the panel content add course Details </p>
                                <mat-action-row>
                                    <button mat-button>Enroll</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-tab>
                    <mat-tab label="Accordion">
                        <mat-accordion>
                            <!-- <mat-accordion> -->
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Angular Fundamentals</mat-panel-title>
                                    <mat-panel-description>Total Duration : 3 hours</mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the panel content add course Details </p>
                                <mat-action-row>
                                    <button mat-button>Enroll</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Angular Material</mat-panel-title>
                                    <mat-panel-description>Total Duration : 2 hours</mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the panel content add course Details </p>
                                <mat-action-row>
                                    <button mat-button>Enroll</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>React</mat-panel-title>
                                    <mat-panel-description>Total Duration : 5 hours</mat-panel-description>
                                </mat-expansion-panel-header>
                                <p>This is the panel content add course Details </p>
                                <mat-action-row>
                                    <button mat-button>Enroll</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-tab>
                </mat-tab-group>
            </mat-tab>
            <mat-tab label="List">
                <mat-list>
                    <mat-list-item>item 1</mat-list-item>
                    <mat-list-item>item 2</mat-list-item>
                    <mat-list-item>item 3</mat-list-item>
                </mat-list>
                <mat-list dense>
                    <mat-list-item>List item 1 dense</mat-list-item>
                    <mat-list-item>List item 2 dense</mat-list-item>
                    <mat-list-item>List item 3 dense</mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>home</mat-icon>
                        <h3 mat-line>Home</h3>
                        <p mat-line>Line</p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <mat-icon mat-list-icon color="warn">folder</mat-icon>
                        <h3 mat-line>Folders</h3>
                        <p mat-line>Line 2</p>
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="GridList">
                <mat-grid-list cols="2" rowHeight="fit" style="height: 200px;" gutterSize="10px">
                    <!-- <mat-grid-list cols="2" rowHeight="2:1"> -->
                    <!-- <mat-grid-list cols="2" rowHeight="200px"> -->
                    <mat-grid-tile rowspan="2">MatGridTile 1</mat-grid-tile>
                    <mat-grid-tile>MatGridTile 2</mat-grid-tile>
                    <mat-grid-tile>MatGridTile 3</mat-grid-tile>
                    <mat-grid-tile colspan="2">MatGridTile 4</mat-grid-tile>
                    <mat-grid-tile>MatGridTile 5</mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="About">About</mat-tab>
            <mat-tab label="Contact Us">Contact Us</mat-tab>
        </mat-tab-group>
        Selected Tab = {{ tabRef.selectedIndex}}
        <br>
        <mat-menu #lazyMenu="matMenu">
            <ng-template matMenuContent let-name="name" let-hobby="hobby">
                <button mat-menu-item>Settings</button>
                <button mat-menu-item>Hobby is {{ hobby }}</button>
                <button mat-menu-item>Log Out {{ name }}</button>
            </ng-template>
        </mat-menu>
        <button [mat-menu-trigger-for]="lazyMenu" [matMenuTriggerData]="{ name: 'Manan', hobby: 'football' }"
            mat-button>
            Manan
        </button>
        <button [mat-menu-trigger-for]="lazyMenu" [matMenuTriggerData]="{
        name: 'RanjeetRocky',
        hobby: 'farting in public'
      }" mat-button>
            RanjeetRocky
        </button>
    </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>